<html>
    <head>
        <style>
            th,td {
        text-align: center;
        }
        table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        }
        </style>
    </head>

    <body>
        <form method="post" action="/a_1">
            <label>Search by Bond number :</label>
            <input name="box" type="text" id="EB number">
            <input id="a_1" type="submit">
        </form>
        {% if a_1_data %}
        <table>
            <tr>
                <th>Sr_No.</th>
                <th>Reference_No_(URN)</th>
                <th>Journal_Date</th>
                <th>Date_of_Purchase</th>
                <th>Date_of_Expiry</th>
                <th>Name_of_the_Purchaser</th>
                <th>Prefix</th>
                <th>Bond_Number</th>
                <th>Denominations</th>
                <th>Issue Branch Code</th>
                <th>Issue Teller</th>
                <th>Status</th>
            </tr>
            <br>
            {% for row in a_1_data %}
            <tr>
                {% for cell in row %}
                <td>{{ cell }}</td>
                {% endfor %}
                <br>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        <br><br>
    </body>

</html>